//FONTS

//title
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
$titleFont: 'KoHo', sans-serif;
$titleSize: 30px;
//text
$textFont: Verdana, Geneva, Tahoma, sans-serif;
$textSize: 15px;

//COLORS
$salmon: #f87060;
$blue: #102542;
// $yellow: #FFE1A8;
// $green: #C9CBA3;