@import "../../client/styles/variables/variables";

.errorPage{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $lightblue;

  .button{
    @include button;
}

  .button:hover{
    @include buttonHover
  }

  img{
    width: 500px;
  }
}