.items{
  display: flex;
  flex-direction: row;
  
  .card{
    align-items: center;
    box-shadow: 10px, 10px, 10px rgb(231, 57, 57);
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    
    a{
      color: black;
      text-decoration: none;
    }
  }
}
